.heroWrap#inicio
  section.heroWrap-infoCorp
    .slogan
      .titulo
        h2 #[span.verde Heredera] del amor, #[span.verde Amazona] de Poder,
        H2 #[span.verde Experta] en realizar:
      .content
        .content__container
          p.content__container__text
          ul.content__container__list
            li.content__container__list__item #[span.Amarillo AMARRES] DE AMOR
            li.content__container__list__item ALTARES DE #[span.Amarillo PROSPERIDAD]
            li.content__container__list__item #[span.Amarillo LIMPIEZA] ESPIRITUAL
            li.content__container__list__item RITUALES DE #[span.Amarillo PROTECCIÓN]
  .heroWrap-infoContacto
    +contacto(
      '',
      'QUIERO',
      'Cambiar mi situación ahora',
      '',
      '¡me suscribo!')

