main.mainContainer
  section#nuestro_Equipo.mainContainer-sectionUs.u-firstContent
    .mainContainer-head
      .mainContainer-head__icon
        i.fa.fa-user.wow.bounceIn(data-wow-delay="0.6s")
      .mainContainer-head__title
        h2.titleUs.wow.bounceInRight Amazona Heredera del amor
    .mainContainer-boxA
      article.mainContainer-boxA__body.b1
        p.mainContainer-boxA__text1 #[span Amazona de nacimiento, heredera de los secretos del Amor, guia espiritual experimentada en trabajos con: ] Magia Blanca, Santería, Amarres , dominación de pareja, rituales de protección.
        p Realizo endulzamientos, conjuros de prosperidad, alejo a las personas no deseadas, los amantes obsesionados y los socios indeseables, construyo altares de #[span.resInterno protección, prosperidad y abundancia].
        p Para esos monentos donde no tienes un consejo amigo, encontraras una fiel hermana dispuesta siempre a escuchar y ayudar en todos tus #[span.resInterno problemas económicos] y emocionales, soy una mano amiga en los momentos difíciles y el #[span.resInterno consejo oportuno] en tus decisiones trascendentales.
        p Mi legado por naturaleza es guiar los pasos en el duro camino de la vida hacia la #[span.resInterno felicidad] y la #[span.resInterno estabilidad].
    .mainContainer-contact
      .box.wow.pulse(data-wow-iteration="10")
        .box-icon
          i.fab.fa-whatsapp
        .box-text
          p=celContact
  section.mainContainer-Service.sectionOne
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        i.fa.fa-heartbeat.wow.bounceIn(data-wow-delay="0.6s")
      .mainContainer-Service_banner__title
        h2.bannerTitle1.wow.bounceInLeft ¿El amor ha destrozado tu corazón?
      .mainContainer-Service_banner__body

        article.mainContainer-Service_articleBox_ab1.wow.zoomIn
          h3.fraseBody No sufras más y se feliz Ahora
          h4.invitacionBody sin NINGÚN COSTO, solo depende de Tí!
          p.textoBody Hago regresar a su amor perdido de manera natural.
  section.mainContainer-Service.sectionTwo
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        i.fa.fa-dollar-sign.wow.bounceIn(data-wow-delay="0.6s")
      .mainContainer-Service_banner__title
        h2.bannerTitle2.wow.bounceInRight ¿Sientes que perdiste la batalla por vivir?
      .mainContainer-Service_banner__body
        article.mainContainer-Service_articleBox_ab2.wow.zoomIn
          h3.fraseBody Es el momento que juntos hagamos un cambio.
          h4.invitacionBody Da el primer paso, decídete!
          p.emphasis Ves como tu vida día a día pierde el rumbo, tristemente pasan tus días y amargamente tu economía no fluye.
          p.textoBody Poderosos altares de protección y prosperidad serán construidos para que sientas el despertar de una nueva vida.
  section.mainContainer-Service.sectionThree
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        //- i.fa.fa-heart.wow.zoomIn
      .mainContainer-Service_banner__title
        h2.bannerTitle3.wow.bounceInDown(data-wow-delay="0.3s") ¿Nada te sale bien?
      .mainContainer-Service_banner__body
        article.mainContainer-Service_articleBox_ab3
          .fraseBody
            p Con el #[span.resTitulo poder de los elementales] verás la solución de una vida de imposibles.
          h4.invitacionBody.wow.pulse(data-wow-iteration="10") ¡Solo anímate el primer paso depende de tí!
  section.containerInvit
    .containerInvit_square.wow.flash(data-wow-iteration="10", data-wow-duration="2s")
      p.containerInvit_consulta Primera consulta gratis
  section#lo_que_hacemos.containerServices
    .containerServices_box
      .containerServices_box__title
        h2 Lo que Hago para que tu vida cambie
      .containerServices_box__body.sb1
        .servicesBox_icon.sbIcon1
          i.fa.fa-venus-mars
        .servicesBox_title
          h3.sbT.wow.rubberBand Amarres de Amor
        .servicesBox_text
          p No sufra más en silencio, resultados garantizados.
      .containerServices_box__body.sb2
        .servicesBox_icon.sbIcon2
          i.fa.fa-plus-square
        .servicesBox_title
          h3.sbT.wow.rubberBand(data-wow-delay="0.5s") Magia Blanca y Santería
        .servicesBox_text
          p Rituales Poderosos para alcanzar tu felicidad.
      .containerServices_box__body.sb3
        .servicesBox_icon.sbIcon3
          i.fa.fa-heartbeat
        .servicesBox_title
          h3.sbT.wow.rubberBand Regreso del ser amado
        .servicesBox_text
          p Triunfo donde la mayoría fracasa.
      .containerServices_box__body.sb4
        .servicesBox_icon.sbIcon3
          i.fa.fa-dollar-sign
        .servicesBox_title
          h3.sbT.wow.rubberBand(data-wow-delay="0.5s") Altares de Prosperidad
        .servicesBox_text
          p Poderosos altares con excelentes resultados.
  section#contacto.containerDetail
    .containerDetail_title
      h2.titleMain HEREDERA DEL AMOR - AMAZONA DE PODER

    +slid()

    .form
      a.contact(href="https://gmail.us20.list-manage.com/subscribe?u=21d40e75d11736adc0caeff00&id=b2dd40be9a") Escríbenos
  section.containerPromotion
    .containerPromotion_title
      H3.titleEnd ¡Consulta personalizada y confidencial!
    .containerPromotion_squareWs.wow.flash(data-wow-iteration="10", data-wow-duration="2s")
      .squareWs
        i.fab.fa-whatsapp
        p.txtWs=celContact
  section.footer
    .footer-Text
      P Escríbeme para ayudarte a enderezar tu vida y obtener todo lo que deseas.
      p Retiro hechizos o brujerías.
      p ¿Deseas disfrutar plenamente todos tus días?
    .footer-Head
      h2.titleMain HEREDERA DEL AMOR - AMAZONA DE PODER
